@charset UTF-8;
@font-face {
    font-family: Vibrocentric;
    src: url(../components/font/Vibrocentric\ Bd\ It.otf) format(OpenType);
}

:root {
    --fonte-título: Vibrocentric, serif;
    --fonte-principal: Arial, Helvetica, sans-serif;
}
body {
    font-family: var(--fonte-principal);
}
header > h1 {
    font-family: var(--fonte-título);
}
header a {
    font-family: var(--fonte-título);
    font-weight: bolder;
}
h2.título-nome {
    font-family: var(--fonte-título);
    font-size: 3em;
}