@media screen and (max-width: 750px) {
    header {
        flex-direction: column;
    }
    header > h1 {
        margin: 10px 0;
    }
    header > nav {
        margin: 0;
    }
    main {
        margin: 5px;
        padding: 20px;
    }
    .container {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
    .image {
        margin-top: 10px;
    }
    h2#título-nome {
        font-size: 1em;
    }
}