@charset UTF-8;

:root {
    --fundo: #252525;
    --cor001: #ff6f00;
    --cor002: #0042e8;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--fundo);
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor001);
    padding: 10px;
    box-shadow: 1px 1px 5px #000000e3;
}
header > h1 {
    margin: 10px 10px;
}
header > nav {
    margin: auto 10px;
}
header a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
    transition-duration: 0.3s;
}
header a:hover {
    background-color: var(--cor002);
    padding: 8px;
    border-radius: 8.5px;
}

main {
    margin:  auto 80px;
    padding: 38px 50px;
    text-align: justify;
    line-height: 28px;
}
main > h1 {
    margin: 10px auto;
}

footer img {
    width: 32px;
    margin-right: 8px;
}
footer img:hover {
    background-color: var(--cor002);
}