@charset UTF-8;

:root {
    --fundo: #252525;
    --cor001: #ff6f00;
    --cor002: #0042e8;
    --cor003: #034aff;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--fundo);
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor001);
    padding: 10px;
    box-shadow: 1px 1px 5px #000000e3;
}
header > h1 {
    font-size: 2.4em;
    margin: 10px 10px;
}
header > nav {
    margin: auto 10px;
}
a#página-atual {
    background-color: var(--cor003);
    color: #ebf5ff;
    padding: 6px;
    border-radius: 8px;
}
a {
    text-decoration: none;
    color: white;
}
header a {
    margin-right: 10px;
    transition-duration: 0.3s;
}
header a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
main {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px 100px;
}
main > p {
    text-align: center;
    text-indent: 30px;
    line-height: 25px;
    margin: 20px auto;
}
.container {
    display: flex;
    justify-content: space-evenly;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main > img.img-sobre {
    margin: 30px auto;
    max-width: 600px;
    width: 100%;
}

main > h1 {
    font-size: 2.5em;
    margin: 10px auto;
}
hr {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    border: 2px solid;
}
button {
    background-color: var(--cor002);
    color: white;
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px var(--cor002);
    cursor: pointer;
}
button:hover {
    background-color: var(--cor003);
}
button:active {
    background-color: #0234b4;
    color: #c2c2c2;
}
main > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
}
main > a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    margin: 0;
}
footer p#text-link {
    font-size: 15px;
    margin-bottom: 8px;
}
footer img {
    width: 32px;
    text-decoration: none;
}
footer a {
    display: inline-block;
    width: 32px;
    margin-right: 10px;
}
footer a::selection {
    background-color: none;
}
footer img:hover {
    background-color: var(--cor002);
    text-decoration: none;
}